$primary: #ffb000;
$secondary: #169d53;
$red: #b80000;
$black: #0c331e;
$white: #fcfcf5;
$background: #fcfcf5;
$buttonBackground: #ffcf9d;
$disabled: #859e90;

:export {
  primary: $primary;
  secondary: $secondary;
  red: $red;
  black: $black;
  white: $white;
  background: $background;
  buttonBackground: $buttonBackground;
  disabled: $disabled;
}

body {
  font-size: 30px;
  margin: 0;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.MuiRating-root .MuiRating-iconFilled {
  color: $buttonBackground;
}

.MuiRating-root .MuiRating-iconEmpty {
  border-color: $buttonBackground;
}

.MuiButton-root {
  background-color: $buttonBackground !important;
  border-radius: 25px !important;
  padding: 10px 25px !important;
  text-transform: none !important;
  color: $black !important;
  font-size: 1.2em !important;
  transition: background-color 0.3s ease !important;
  font-weight: bold !important;
  &:hover {
    background-color: $primary !important;
  }
}

.MuiStepLabel-iconContainer {
  display: none !important;
}

.MuiOutlinedInput-root {
  border-radius: 20px !important;
  border: solid 2px;
  border-color: $secondary !important;
  background-color: $background;
  width: 500px !important;
  height: 75px;
  padding: 5px 20px 5px 5px !important;
  font-size: 25px !important;
  font-weight: 800 !important;
}

.MuiInputBase-input {
  color: $secondary !important;
}

.MuiOutlinedInput-notchedOutline {
  border-width: 0px !important;
}

.MuiInputBase-root::before {
  border: 0px !important;
}

.MuiInputBase-root::after {
  border: 0px !important;
}

.date {
  .MuiSvgIcon-root {
    color: $secondary !important;
    font-size: 35px !important;
  }
  .MuiButtonBase-root {
    display: none;
  }
}

.MuiInput-root {
  border: solid 2px !important;
  border-color: $secondary !important;
  border-radius: 20px !important;
  background-color: $background;
  height: 75px;
  width: 500px !important;
  padding: 20px;
  font-size: 25px !important;
  font-weight: 800 !important;
}

.primary {
  color: $primary;
}

.secondary {
  color: $secondary;
}

.red {
  color: $red;
}

.black {
  color: $black;
}

.white {
  color: $white;
}

.background {
  color: $background;
}

.disabled {
  color: $disabled;
}

.button-background {
  color: $buttonBackground;
}

.bold {
  font-weight: bold !important;
}

.semi-bold {
  font-weight: 600 !important;
}

.medium {
  font-weight: medium !important;
}

.logo-size {
  width: 300px;
  height: 300px;
}

@media (max-width: 1885px) {
  body {
    font-size: 26px;
  }
}

@media (max-width: 1740px) {
  body {
    font-size: 24px;
  }
}

@media (max-width: 1550px) {
  body {
    font-size: 23px;
  }
}

@media (max-width: 1400px) {
  body {
    font-size: 22px;
  }
}

@media (max-width: 720px) {
  body {
    font-size: 20px;
  }
}

@media (max-width: 720px) {
  .logo-size {
    width: 150px;
  }
  body {
    font-size: 18px;
  }
  .MuiOutlinedInput-root {
    width: 300px !important;
    height: 70px;
    padding: 3px 15px 3px 3px !important;
    font-size: 20px !important;
    font-weight: 700 !important;
  }
  .MuiInput-root {
    width: 300px !important;
    height: 70px;
    padding: 15px;
    font-size: 20px !important;
    font-weight: 700 !important;
  }
}

@media (max-width: 410px) {
  body {
    font-size: 16px;
  }
}
